<div class="visually-hidden" id="result-display">
<img src='<%=posters.detailed %>'>
<dl>
  <dt>Title</dt>
  <dd><%= title %></dd>
  <dt>Critics Consensus</dt>
  <dd><%= critics_consensus %></dd>
</dl>
</div>