<!DOCTYPE html>
<html>
<head>
  <title>Suggest-A-Tron 5000</title>
  <link rel="stylesheet" href="/app/css/main.css">
</head>
<body>
  {{> body}}


  <script src="/app/scripts/vendor/jquery2.0.min.js"></script>
  <script src="/app/scripts/vendor/underscore1.6.0.min.js"></script>
  <script src="/app/scripts/main.js"></script>
  <script type="text/template" id="result-display">

  </script>
</body>
</html>